
img{
  align-items: center;
  margin-top:2%;
  margin-bottom:auto;
  margin-left: 12%;
  margin-right: auto;
}
h1{
    margin-top: 1%;
    margin-left: 600px;

    font-size: 65px;
    /* background-color: darksalmon; */
}
h3{
    font-size: 30px}

p{
    font-size: 40px;
}
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 20%;
  height: 10%;
  padding: 0 10px;
  /* background-color: black; */
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}
.data{
  background-color: darkturquoise;
  display: flex;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
button{
  height: 40px;
  width:200%;
  margin-left: 10%;
  margin-top: 30%;
  background-color:rgb(211, 160, 221);
  font-size: large;
  text-decoration-color: sienna;
}
.bt{
  height: 40px;
  width:200%;
  margin-left: 300%;
  margin-top: 30%;
  font-size: large;
  margin-right: 35%;
  background-color:plum;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 70%;
    display: block;
    margin-bottom: 20px;
    margin-top: 7%;
  }
}

/* Style the counter cards */
.card {
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  padding: 10px;
  text-align: center;
  background-color: #f1f1f1;
}
